{{ form_start(form) }}

    <div class="flex form__contents">
        <nav class="contents__nav md:w-1/4 bg-slate-300	max-h-full h-full">
            {{ form_row(form.category) }}
            {{ form_row(form.subcategory) }}
            {{ form_row(form.subtopic) }}
    
                <button
                type="button"
                class="button__link bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" 
            >   
                Ajouter un lien
            </button>
            <button
                type="button" 
                class="button__list  bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
            >   
            Ajouter une liste
            </button>
            <button
                type="button" 
                class="button_paragraph bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
                data-collection-holder-class="paragraph"
            >   
                Ajouter un paragraphe
            </button>
        </nav>
        <div class="md:w-3/4">

            {{ form_label(form.imgPost) }}
            {{ form_widget(form.imgPost) }}
            <div>
                <p class="button__altImg">Changez le descriptif de l'image</p>
                {{ form_row(form.altImg, {'attr': {'class': 'altImg hidden'}}) }}
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}


                {{ form_label(form.contents) }}
                {{ form_widget(form.contents) }}


                <ul 
                    class="paragraph"
                    data-index="{{ form.paragraphArticles|length > 0 ? form.paragraphArticles|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.paragraphArticles.vars.prototype)|e('html_attr') }}"
                >   
                    {% for tag in form.paragraphArticles %}
                        <li>
                            {{ form_row(tag) }}
                        </li>
                    {% endfor %}
                </ul>

            </div>

            <ul 
                class="list hidden"
                data-index="{{ form.listArticles|length > 0 ? form.listArticles|last.vars.name + 0 : 0 }}"
                data-prototype="{{ form_widget(form.listArticles.vars.prototype)|e('html_attr') }}"
            >   
                {% for tag in form.listArticles %}
                    <li>
                        {{ form_row(tag) }}
                    </li>

                {% endfor %}
            </ul>

            <div class="link hidden">
                {{ form_label(form.links) }}
                {{ form_widget(form.links) }}
                {{ form_label(form.textLinks) }}
                {{ form_widget(form.textLinks) }}
            </div>


            <button type="submit" class="button is-primary is-fullwidth">{{ button_label|default('Sauvegarder') }}</button>
            

        </div>

    </div>
    

{{ form_end(form) }}

{% block javascripts %}
    <script src={{asset('js/articles.js')}}></script>
    <script type="text/javascript">


    const addParagraphButton = document.querySelector('.button_paragraph');

    addParagraphButton.addEventListener('click', function() {
    let collectionHolder = document.querySelector('.paragraph');
    let index = collectionHolder.dataset.index;

    let newParagraph = collectionHolder.dataset.prototype;

    newParagraph = newParagraph.replace(/__name__/g, index);

    let newParagraphLi = document.createElement('li');
    newParagraphLi.innerHTML = newParagraph;

    collectionHolder.appendChild(newParagraphLi);

    collectionHolder.dataset.index = parseInt(index) + 1;
});

   
    </script>
{% endblock %}