{{ form_start(form) }}


    {{ form_label(form.imgHeader) }}
    {% if page.imgHeader %}
    <div class="card-krea">
        <img src={{'https://res.cloudinary.com/dsn2zwbis/image/upload/v1675085410/unetaupechezvous/' ~ page.slug ~ '.webp' }} alt="">
    </div>
    {% endif %}
    {{ form_widget(form.imgHeader) }}


    {{ form_widget(form) }}

    <button class="button is-primary">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
