<h1>Une Taupe Chez Vous</h1>
<p>Bonjour {{ nameContact }},</p>
<p>Nous vous remercions pour votre message.</p>
<p>Nous vous contacterons dans les plus brefs délais.</p>

<hr>

<p>Verifier vos données :</p>
<p>Nom : {{ nameContact }}</p>
<p>Email : {{ emailContact }}</p>
<p>Objet : {{ subjectContact }}</p>
<p>Message : {{ messageContact }}</p>
<p>Code Postal : {{ postalCodeContact }}</p>
<p>Numéro de téléphone : {{ phoneContact }}</p>
{% if dateContact is not null %}
    <p>Vous souhaitez être contacté le {{ dateContact|date('d/m/Y') }} à {{ dateContact|date('H:i') }}</p>
{% endif %}
{% if imageContact is not null %}
    <img src="{{ imageContact }}" alt="Image contact" />
{% endif %}


<hr>

<p>En vous souhaitant une agréable journée,</p>
<p>L'équipe Une Taupe Chez Vous</p>
<p><a href="https://unetaupechezvous.fr">unetaupechezvous.fr</a></p>
