<h1>Une Taupe Chez Vous </h1>
<h2>De : {{ nameContact }}</p>
<p>Email : {{emailContact}}</p>
<p>Objet : {{ subjectContact }}</p>
<p>Message : {{ messageContact }}</p>
<p>Code Postal : {{ postalCodeContact }}</p>
<p>Numéro de téléphone : {{ phoneContact }}</p>

{% if imageContact is not null %}
    <img src="{{ imageContact }}" alt="Image contact" />
{% endif %}
