<h1>Une Taupe Chez Vous</h1>
<p>Bonjour {{ nameContact }},</p>
<p>Nous vous remercions pour votre message.</p>
<p>Nous vous contacterons dans les plus brefs délais.</p>

<hr>

<p>Verifier vos données :</p>
<p>Nom : {{ nameContact }}</p>
<p>Email : {{ emailContact }}</p>
<p>Objet : {{ subjectContact }}</p>
<p>Message : {{ messageContact }}</p>
<p>Code Postal : {{ postalCodeContact }}</p>
<p>Numéro de téléphone : {{ phoneContact }}</p>

<hr>

<p>En vous souhaitant une agréable journée,</p>
<p>L'équipe Une Taupe Chez Vous</p>
<p><a href="https://unetaupechezvous.fr">unetaupechezvous.fr</a></p>
